@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<input type="text" id="quizName" placeholder="Quiz name"/><br/>
<div id="questionList" style="border: solid 1px black; margin: 10px;">
    
</div>
<button onclick="addNewQuestion()">Add new question</button>
<button onclick="saveNewQuiz()">Save quiz</button>  