@model LMS_Grupp4.Models.LMS_Models.QuizInformation
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    <p>
        Name of quiz
        @Html.DropDownListFor(x => x.ID, ViewBag.QuizInformation as SelectList);
    </p>
    <p>
        <input type="submit" value="Delete!" />
    </p>
}