
@{
    ViewBag.Title = "Index";
}

<h1 align="center">@Html.ActionLink("Create Quiz", "Create", "Quiz")</h1>
<h1 align="center">@Html.ActionLink("Play Quiz", "Play", "Quiz")</h1>
<h1 align="center">@Html.ActionLink("Delete Quiz", "Delete", "Quiz")</h1>
